.product-card{
   border: 1px solid #ccc;
}

.product-card img{
    width: 100%;
}

.product-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product-info .product-description{
    margin: 0;
}